name: Build and test

on:
  push:

  # REMOVEME
  workflow_dispatch:

permissions:
  # to fetch code (actions/checkout)
  contents: read
  # https://github.com/marketplace/actions/publish-test-results#permissions
  # https://github.com/marketplace/actions/junit-report-action
  checks: write
  pull-requests: write # only required if `comment: true` was enabled

jobs:
  rust-build-and-test:
    # just reuse a relevant workflow from the dedicated repo https://github.com/swiyu-admin-ch/github-actions-workflows
    uses: swiyu-admin-ch/github-actions-workflows/.github/workflows/rust-build-and-test.yml@main
    #with:
      # Whether to build artifacts for normal development and debugging (default: true)
      #debug: true
      # Whether to also build artifacts in release mode, with optimizations
      #release: false
